<footer>

   <div class="row">

      <div class="twelve columns text-center">

         <ul class="footer-nav">
            <li><a href="index">Home.</a></li>
            <li><a href="portfolio-index">Portfolio.</a></li>
            <li><a href="blog">Blog.</a></li>
            <li><a href="contact">Contact.</a></li>
         </ul>

         <ul class="footer-social">
            <li style="font-size: 36px;">{{ site.author }}</li>
         </ul>

         <ul class="footer-social">

            <li><i class="fa fa-phone fa-fw"></i> {{ site.telephone }}</li>
            <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>

         </ul>

         <ul class="footer-social">
            {% for link in site.social_links %}
            {% if link[1] != blank %}
            {% assign id = link[0] | downcase %}
            <li>
               <a href="{{ link[1] }}">
                  {% include icon.html id=id title=id %}
               </a>
            </li>
            {% endif %}
            {% endfor %}
         </ul>


         <ul class="list-unstyled">

         </ul>
         <br>
         <ul class="list-inline">
         </ul>

         <ul class="copyright">
            <li>Copyright &copy; 2020 Juyeon-Lee</li>
            <li>Design by <a href="http://www.styleshout.com/" target="_blank">Styleshout</a></li>
         </ul>

      </div>

      <div id="go-top" style="display: block;"><a title="Back to Top" href="#">Go To Top</a></div>

   </div>

</footer>