<footer>

    <div class="row">

       <div class="twelve columns text-center">

          <ul class="footer-nav">
                  <li><a href="index.html">Home.</a></li>
                <li><a href="blog.html">Blog.</a></li>
                <li><a href="portfolio-index.html">Portfolio.</a></li>
                <li><a href="about.html">About.</a></li>
                <li><a href="contact.html">Contact.</a></li>
             <li><a href="styles.html">Features.</a></li>
             </ul>

          <h4><strong>{{ site.owner }}</strong></h4>

          <ul class="footer-social">
              <!--
             <li><a href="#"><i class="fa fa-facebook"></i></a></li>
             <li><a href="#"><i class="fa fa-twitter"></i></a></li>
             <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
             <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
             <li><a href="#"><i class="fa fa-skype"></i></a></li>
             <li><a href="#"><i class="fa fa-rss"></i></a></li>
             -->
            <li><i class="fa fa-phone fa-fw"></i> {{ site.telephone }}</li>
            <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>

            <li>
              <a href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
            </li>
            <li>
              <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github fa-fw fa-3x"></i></a>
            </li> 
          </ul>

          
          <ul class="list-unstyled">
            
          </ul>
          <br>
          <ul class="list-inline">
          </ul>

          <ul class="copyright">
             <li>Copyright &copy; 2014 Sparrow</li> 
             <li>Design by <a href="http://www.styleshout.com/" target="_blank">Styleshout</a></li>               
          </ul>

       </div>

       <div id="go-top" style="display: block;"><a title="Back to Top" href="#">Go To Top</a></div>

    </div>

 </footer>