<header>

   <div class="row">

      <div class="twelve columns">

         <div class="logo">
            <a href="index"><img alt="" src="/assets/img/logo.png"></a>
         </div>

         <nav id="nav-wrap">

            <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

            {% assign current = page.url | downcase | split: '/' '.' %}

            <ul id="nav" class="nav">

               <li {% if current[1] == 'index' %} class="current" {% endif %}><a href="/index">Home</a></li>
               <li {% if current[1] == 'portfolio' or current[1] == 'projects' %} class="current" {% endif %}><span><a
                        href="/portfolio">Portfolio</a></span>
                  <ul>
                     <li><a href="/portfolio">Portfolio Index</a></li>
                  </ul>
               </li>
               <li {% if current[1] == 'blog' or current[1] == '' %} class="current" {% endif %}><a href="/blog">Blog</a></li>
               <li {% if current[1] == 'about' %} class="current" {% endif %}><a href="/about">About</a></li>
               <li {% if current[1] == 'categories' %} class="current" {% endif %}><span><a href="/categories">Categories</a></span>
               <ul>
                  <li><a href="/categories">Categories</a></li>
                  <li><a href="/tags">tags</a></li>
               </ul>
            </li>
               <li {% if current[1] == 'search' %} class="current" {% endif %}><a href="/search">Search</a></li>
            </ul> <!-- end #nav -->

         </nav> <!-- end #nav-wrap -->

      </div>

   </div>

</header>