<head>
  {% if page.indexing == false %}
  <meta name="robots" content="noindex">
  {% endif %}

  {% if page.collectionpage %}
  {% seo title=false %}

  {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
  <title>{{ collectiondata.title }} - {{ site.title }}</title>
  <meta property="og:title" content="{{ collectiondata.title }}">
  <meta name="description" content="{{ collectiondata.description }}">
  <meta property="og:description" content="{{ collectiondata.description }}">
  {% else %}
  {% seo %}
  {% endif %}

  {% if site.google_analytics %}{% include site-analytics.html %}{% endif %}

  <link rel="manifest" href="{{ "/assets/manifest.json" | relative_url }}">
  <meta name="theme-color" content="{{ site.manifest.theme_color | default: '#242e2b' }}" />


  {% if site.google_analytics %}{% include site-analytics.html %}{% endif %}

  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
     ================================================== -->
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/media-queries.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <link href="//db.onlinewebfonts.com/c/37d8aff129ecd7d3fc495b7239f834db?family=Bitstream+Vera+Sans+Mono" rel="stylesheet" type="text/css"/>

  <!-- Script
    ================================================== -->
  <script src="/assets/js/modernizr.js"></script>
  <!--Source Han Sans Korean font-->
  <script>
    (function(d) {
      var config = {
        kitId: 'txv0jaa',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>

  <!-- Favicons
     ================================================== -->
  <link rel="shortcut icon" href="/assets/favicon.ico">



</head>