<section id="about" class="about">

    <!-- Flexslider Start-->
    <div id="intro-slider" class="flexslider">

        <ul class="slides">

            <!-- Slide -->
            <li>
                <div class="row">
                    <div class="twelve columns">
                        <div class="slider-text">
                            <h1>Juyeon's Portfolio & Blog<span>.</span></h1>
                            <p>{{ site.description }}</p>
                        </div>
                        <div class="slider-image">
                            <img src="/assets/img/sliders/home-slider-image-02.png" alt="" />
                        </div>
                    </div>
                </div>
            </li>

            <!-- You can add other slides -->

        </ul>

    </div> <!-- Flexslider End-->

</section>