<!-- Content
   ================================================== -->
<div class="content-outer">

   <div id="page-content" class="row portfolio">

      <section class="entry cf">

         <div id="secondary" class="four columns entry-details">

            <h1>Our Portfolio.</h1>

            <p class="lead">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
               auctor,
               nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh.</p>

            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
               nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
               cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a
               ornare odio.</p>

         </div> <!-- Secondary End-->

         <div id="primary" class="eight columns portfolio-list">

            <div id="portfolio-wrapper" class="bgrid-halves cf">

               {% if paginator.projects %}
               {% for page in paginator.projects %}
               {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
               <div class="columns portfolio-item{%if thecycle=='odd'%} first{% endif %}">
                  <div class="item-wrap">
                     <a href="{{ site.baseurl }}{{ page.url }}">
                        <img alt="" src="/assets/img/portfolio/geometrics.jpg">
                        <div class="overlay"></div>
                        <div class="link-icon"><i class="fa fa-link"></i></div>
                     </a>
                     <div class="portfolio-item-meta">
                        <h5><a href="{{ site.baseurl }}{{ page.url }}">Geometrics</a></h5>
                        <p>Illustrration</p>
                     </div>
                  </div>
               </div>
               <!-- projects end -->
               {% endfor %}
               {% include post-pagination.html %}
               {% else %}
               {% for page in site.projects %}
               {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
               <div class="columns portfolio-item{%if thecycle=='odd'%} first{% endif %}">
                  <div class="item-wrap">
                     <a href="{{ site.baseurl }}{{ page.url }}">
                        <img alt="" src="/assets/img/portfolio/geometrics.jpg">
                        <div class="overlay"></div>
                        <div class="link-icon"><i class="fa fa-link"></i></div>
                     </a>
                     <div class="portfolio-item-meta">
                        <h5><a href="{{ site.baseurl }}{{ page.url }}">Geometrics</a></h5>
                        <p>Illustrration</p>
                     </div>
                  </div>
               </div>
               <!-- projects end -->
               {% endfor %}
               {% endif %}

            </div>

         </div> <!-- primary end-->

      </section> <!-- end section -->

   </div> <!-- #page-content end-->

</div> <!-- content End-->