<section id="projects" class="projects">

   <div class="row">

      <div class="twelve columns align-center">
         <h1>Some Prjoects of My Portfolio.</h1>
      </div>

      <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-halves">

         {% for page in site.projects %}
         {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
         <div class="columns portfolio-item">
            <div class="item-wrap">
               <a href="{{ site.baseurl }}{{ page.url }}">
                  <img alt="" src="{{page.mainImage}}">
                  <div class="overlay"></div>
                  <div class="link-icon"><i class="fa fa-link"></i></div>
               </a>
               <div class="portfolio-item-meta">
                  <h5><a href="{{ site.baseurl }}{{ page.url }}">{{page.projectName}}</a></h5>
                  <p>{{page.projectSummary}}</p>
               </div>
            </div>
         </div>
         <!-- projects end -->
         {% endfor %}

      </div>

   </div>

</section>