{% assign current = page.url | downcase | split: '/' '.' %}
{% if current[1] == 'categories' %}
<div id="secondary" class="four columns categories-index">
    <aside id="sidebar">

        <div class="widget widget_text">
            <h3>Index</h3>
            <nav class="nav  nav--categories">
                <ul class="list  list--categories">
                    {% for item in site.categories %}
                    <li class="item  item--category">
                        <a href="#{{ item | first | slugify }}">{{ item | first }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

</div>

{% elsif current[1] == 'tags' %}
<div id="secondary" class="four columns categories-index">
    <aside id="sidebar">
        <div class="widget widget_text">
            <h3>Index</h3>
            <nav class="nav  nav--tags">
                <ul class="list  list--tags">
                    {% for item in site.tags %}
                    <li class="item  item--tag">
                        <a href="#{{ item | first | slugify }}">{{ item | first }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
</div>

{% else %}
<div id="secondary" class="two columns end">

    <aside id="sidebar">

        {% if current[1] == 'blog' %}
        <div class="widget widget_categories">
            <h5 class="widget-title">Categories</h5>
            <ul class="link-list cf">
                {% for item in site.categories %}
                <li class="item  item--category">
                    <a href="/categories/#{{ item | first | slugify }}">{{ item | first }}</a>
                </li>
                {% endfor %}

            </ul>
        </div>
        <div class="widget widget_tag_cloud">
            <h5 class="widget-title">Tags</h5>
            <div class="tagcloud cf">
                {% for item in site.tags %}
                <a href="/tags/#{{ item | first | slugify }}">{{ item | first }}</a>
                {% endfor %}

            </div>
        </div>

        {% elsif current[1] == 'about' %}
        <div class="widget widget_text">
            <h5 class="widget-title">Text Widget</h5>
            <div class="textwidget">위젯으로 말하고 싶은것을 써넣으세요. </div>
        </div>
        <div class="widget widget_contact">
            <h5>Address and Phone</h5>
            <p class="address">
                서울 금천구<br>
                Geumcheon-gu, Seoul, South Korea<br>
                <span>(010) 6600-3571</span>
            </p>

            <h5>Email and Social</h5>
            <p>
                E-mail: {{ site.email }}<br>
                GitHub: <a href="{{ site.social_links.GitHub }}">Juyeon-Lee</a><br>
                Facebook: <a href="{{ site.social_links.FaceBook }}">Juyeon Lee FB page</a><br>
                LinkedIn: <a href="{{ site.social_links.LinkedIn }}">Juyeon Lee's page</a>
            </p>
        </div>
        {% endif %}

    </aside>
</div>
{% endif %}