{% assign current = page.url | downcase | split: '/' '.' %}

<div id="secondary" class="four columns end">

    <aside id="sidebar">

        <div class="widget widget_search">
            <h5>Search</h5>
            <form action="#">

                <input class="text-search" type="text"
                    onfocus="if (this.value == 'Search here...') { this.value = ''; }"
                    onblur="if(this.value == '') { this.value = 'Search here...'; }" value="Search here...">
                <input type="submit" class="submit-search" value="">

            </form>
        </div>

        {% if current[1] == 'blog' %}
        <div class="widget widget_categories">
            <h5 class="widget-title">Categories</h5>
            <ul class="link-list cf">
                {% for category in site.categories %}
                <li><a href="#">{{ category[0] }}</a></li>
                {% endfor %}

            </ul>
        </div>

        <div class="widget widget_tag_cloud">
            <h5 class="widget-title">Tags</h5>
            <div class="tagcloud cf">
                {% for tag in site.tags %}
                <a href="#">{{ tag[0] }}</a>
                {% endfor %}

            </div>
        </div>
        {% endif %}

        {% if current[1] == 'about' %}
        <div class="widget widget_text">
            <h5 class="widget-title">Text Widget</h5>
            <div class="textwidget">위젯으로 말하고 싶은것을 써넣으세요. </div>
        </div>

        <div class="widget widget_contact">
            <h5>Address and Phone</h5>
            <p class="address">
                서울 금천구<br>
                Geumcheon-gu, Seoul, South Korea<br>
                <span>(010) 6600-3571</span>
            </p>

            <h5>Email and Social</h5>
            <p>
                E-mail: {{ site.email }}<br>
                GitHub: <a href="{{ site.social_links.GitHub }}">Juyeon-Lee</a><br>
                Facebook: <a href="{{ site.social_links.FaceBook }}">Juyeon Lee FB page</a><br>
                LinkedIn: <a href="{{ site.social_links.LinkedIn }}">Juyeon Lee's page</a>
            </p>
        </div>
        {% endif %}

    </aside>

</div>