---
layout: default
---

{% include header.html %}

<main class="main  container">
   <!-- Page Title
   ================================================== -->
   <div id="page-title-blog">

      <div class="row">
         
         <div class="ten columns centered text-center">
            {% if paginator.posts %}
            {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
            <h1>{{ collectiondata.title }}</h1>
            <p>{{ collectiondata.description | markdownify }}</p>

            {% else %}
            <h1>{{ page.toptitle }}<span>.</span></h1>
            <p>{{ page.subtitle }}</p>
            {{ content }}

            {% endif %}

         </div>

      </div>

   </div> <!-- Page Title End-->

   <!-- Content
   ================================================== -->
   <div class="content-outer">

      <div id="page-content" class="row">

         {% include post-list.html %}
         {% include side-widget.html %}

      </div>

   </div> <!-- Content End-->

</main>

{% include footer.html %}