---
layout: default
---

{% include header.html %}

<main class="main  container">
    <!-- Page Title
   ================================================== -->
    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>{{page.projectName}}<span>.</span></h1>
                <p>My Project Name</p>
            </div>

        </div>

    </div><!-- Page Title End-->

    <!-- Content
   ================================================== -->
    <div class="content-outer">
        <div id="page-content" class="row portfolio">
            <section class="portfolio">

                <div id="secondary" class="three columns entry-details">
                    <h1>{{page.directory}}</h1>
                    <div class="entry-description">
                        <p>{{page.projectSummary}}</p>
                    </div>

                    <ul class="portfolio-meta-list">
                        <li><span>Period: </span>{{page.projectPeriod}}</li>
                        <li><span>참여인원: </span>{{page.totalNum}}</li>
                        <li><span>나의 역할: </span>{{page.myRole}}</li>
                        <li><span>Skills: </span>{% for skill in page.skills %} #{{skill}}{% endfor %}</li>
                    </ul>
                    {% for link in page.links %}
                        <a href="{{link}}" target="_blank" class="button">View project</a>
                    {% endfor %}


                </div> <!-- Secondary End-->

                <div id="primary" class="nine columns portfolio-list">
                    <div class="entry-media">

                        {% for image in page.projectImages %}
                        <figure>
                            <figcaption>{{image.cap}}</figcaption>
                            <img src="{{image.url}}" alt="{{image.cap}}" />
                        </figure>
                        {% endfor %}
                    </div>

                    <div class="entry-excerpt">
                        {{ content }}
                    </div>
                </div> <!-- primary end-->
            </section> <!-- end section -->

        </div> <!-- #page-content end-->
    </div> <!-- content End-->
</main>

{% include footer.html %}
{% include slider_scripts.html %}  <!--image slider-->